/* Places navbar to the left and main content to the right */

.app_container {
    display: flex;
}


/* Main Content */

.main_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1100px;
    padding: 2rem;
    margin-top: 5rem;
    border: 1px solid red;
    color: black;
}

.fa_tray {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0;
    border: 1px solid blue;
}

.fa_tray_icon {
    color: var(--violet);
    width: 100%;
}


/* Navbar Content */

.navbar_container {
    display: flex;
    width: 20rem;
    height: 100vh;
    background-color: var(--tuna);
    margin-right: 2rem;
    flex-direction: column;
    color: var(--athens-grey);
}

.navbar_item {
    padding: 20px 25px;
    color: var(--athens-grey);
    transition: color 0.5s;
    background-image: linear-gradient(var(--violet), var(--violet));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s, color 0.5s;
}

.navbar_item:hover {
    background-size: 100% 100%;
    color: var(--athens-grey);
}

.image_container {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image_image {
    border: 1px solid var(--athens-grey);
    border-radius: 50%;
    background-color: black;
    margin-bottom: 1rem;
}

.image_items {
    margin-top: 2px;
}